
::deep #d-clone-modal {
    min-height: 48px !important;
    background-color: red;
}

    ::deep #d-clone-modal .m-list-item {
        min-height: 48px !important;
        background-color: red;
    }
