<MCard Outlined Flat Color="@Color" Style="padding:6px 6px 6px 0;">
    <div style="width: 100%; min-height: 312px; height: 314px; overflow-y: auto; ">
        <div style="display: flex; padding: 2px">
            <div style="width:50px;text-align:center;color:rgb(46,117,182);">
                @for (int i = 0; i < _lineCount; i++)
                {
                    var line = i + 1;
                    <div @key="line" style="height:24px;">
                        @line
                    </div>
                }
            </div>
            <textarea style="outline:none; resize:none; width:100%; height: 310px;" autofocus
                      disabled="@Disabled"
                      @oninput="OnInput" @ref="Ref" value="@Value" @onchange="HandleOnChange">
            </textarea>
        </div>
    </div>
</MCard>
