
<div class="pa-2 rounded-5" style="background:#F6F8FD;">
    <MMonacoEditor @ref="_editor" Style="min-height: 312px;" Height="Height" Value="@Value" ValueChanged="ValueChanged" InitOptions="InitOptions" />
</div>


